body{
    display: grid;
    grid-template-columns: repeat(10,auto);
    grid-gap:1px;
}
::before,
::after{
    
    margin: 0;
    padding: 0;
}
li{
    white-space: nowrap;
    font-size: 1.5vw;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.9vw;
    border-radius: 3vw;
    background-color: rgba(196, 27, 27, 0.5);
    list-style: none;

}
@media screen and (max-device-width:600px){
    body{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    ul{
        box-sizing: border-box;
        width:20vw;
        height: 40vw;
    }
    li{
        font-size: 30px;
    }
}
@media screen and (max-device-width:900px) and (min-device-width:600px){
    body{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    ul{
        box-sizing: border-box;
        width:15vw;
        height: 30vw;
    }
    li{
        font-size: 22px;
    }
}
@media screen and (min-device-width:1300px){
    ul{
        box-sizing: border-box;
        width:141.34px;
        height: 274.39px;
        padding: 24.7px;
        border-radius: 30px;
        
    }
    li{
        font-size: 19.5px;
    }
    body{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

    }
}
